* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #333;
}
body {
  text-size-adjust: 100%;
}
.bodyWrap {
  position: relative;
  min-width: 700px;
  min-height: 100vh;
  padding-bottom: 2rem;
}
header {
  position: absolute;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  padding-right: 0;
  box-shadow: 0 2px 5px #aaa;
  z-index: 10;
  width: 100%;
}
main {
  min-width: 500px;
  width: calc(100% - 10rem);
  padding: 2rem;
  margin-top: 3rem;
  margin-left: 10rem;
}
.postPage main {
  position: absolute;
  padding-right: 0;
  padding-bottom: 0;
  margin-left: 10rem;
}
aside {
  position: absolute;
  top: 3rem;
  left: 0;
  width: 200px;
  min-height: 100%;
  padding: 1rem;
  background-color: #ffe;
  box-shadow: 2px 0 5px #aaa;
  z-index: 5;
}
.postPage aside {
  height: calc(100vh - 6rem);
  overflow-y: auto;
}
.asideAndMain {
  position: relative;
  min-height: calc(100vh - 2rem);
  display: flex;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.postPage {
  position: relative;
  height: 100vh;
  overflow-y: hidden;
}
.comment_list {
  overflow-y: scroll;
  height: calc(100vh - 13rem);
  padding-right: 2rem;
}
.comment_box {
  position: absolute;
  padding: 1rem;
  left: 0;
  bottom: -6rem;
  width: 100%;
  height: 5rem;
  z-index: 20;
}

h1 {
  font-size: 1.5rem;
  font-weight: bold;
}
h2{
  font-size: 1.2rem;
  font-weight: bold;
}
h3{
  font-size: 1.1rem;
  font-weight: bold;
}
a {
  color: inherit;
  text-decoration: none;
}
input,
textarea,
select {
  max-width: 100%;
  border: 1px solid #333;
  padding: 0.2rem;
}
.btn {
  background-color: rgb(240, 240, 240, 70);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 0.1rem 0.2rem;
}
.btn:hover {
  background-color: rgb(220, 220, 220);
}
.btn:disabled {
  opacity: 0.7;
}
.form_label {
  min-width: 5rem;
  margin-right: 2rem;
  font-weight: bold;
}
.form_label_required {
  position: relative;
  display: inline-block;
}
.form_label_required::after {
  position: absolute;
  content: '※必須';
  top: 0rem;
  color: red;
  font-size: 0.6rem;
  font-weight: bold;
  padding-left: 0.1rem;
}
.errorText {
  color: red;
}
.login {
  height: 100vh;
  background-color: #ea4;
  padding: 2rem;
}
.login_box {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 100%;
  max-width: 260px;
  padding: 1rem;
  margin: auto;
}
.login_btn {
  align-self: end;
  width: 6rem;
  color: #fff;
  font-size: 0.9rem;
  line-height: 1.7;
  background-color: #0ae;
}
.not_login_message {
  position: absolute;
  left: 12rem;
  padding-top: 1rem;
}

/* ユーザーネーム、ログアウトボタン */
.userInfo {
  position: relative;
  width: 7rem;
  height: 3rem;
  text-align: center;
  color: #fff;
}
.userInfo .userName {
  display: block;
  width: 100%;
  font-size: 1rem;
  line-height: 1;
  padding: 1rem 0;
}
.userInfo .userName:hover {
  background-color: #ea4;
}
.userInfo .userMenu {
  position: absolute;
  top: 3rem;
  width: 100%;
  padding: 1rem;
}
.logout_button {
  font-size: 0.8em;
}

/* asideカテゴリー一覧 */
.aside_list li:last-child {
  margin-bottom: 2rem;
}
.postPage .aside_list li:last-child {
  margin-bottom: 0;
}
.category_list {
  margin-bottom: 1rem;
}
.category_down,
.category_links {
  padding: 0.2rem 0.3rem;
}
.category_down:hover,
.category_links:hover {
  background-color: #ea4;
}
.category_down.isDown {
  transform: rotateZ(90deg);
}
.category_links {
  display: inline-block;
  width: 80%;
}
.simpleTitle {
  font-size: 0.85rem;
  margin-left: 1.5rem;
  line-height: 1;
}
.simpleTitle a {
  display: inline-block;
  width: 100%;
  padding: 0.5rem 0;
}
.simpleTitle:hover {
  background-color: #ea4;
}
